<div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12" style="background-color: rgb(219, 40, 141);">hola</div>
      <div class="col-lg-6  col-sm-12" style="background-color: rgb(50, 143, 34);">hola</div>
    </div>
    <div class="row">
      <div class="col-lg-6  col-sm-12" style="background-color: red;">hola</div>
      <div class="col-lg-6  col-sm-12" style="background-color: rgb(178, 164, 164);">hola</div>
    </div>

    <div class="nav-item">
      hola
    </div>
  </div>

