.nav-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-size: 200% 100%;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-position: left bottom;
    -webkit-transition: max-height 4s ease-in, opacity 4s ease-in;
    -moz-transition: max-height 4s ease-in, opacity 4s ease-in;
    -ms-transition: max-height 4s ease-in, opacity 4s ease-in;
    -o-transition: max-height 4s ease-in, opacity 4s ease-in;
    transition: max-height 4s ease-in, opacity 4s ease-in;
    /* background-color: white;
    transition-delay: 50ms;
    background-position: right bottom; */
  }