<!-- Notifications -->
<button mat-icon-button="" mattooltip="Notifications" (click)="visualizeNotifications()">
    <span class="mat-button-wrapper">
      <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">notifications</mat-icon>
      <span class="notification-number mat-bg-warn">133</span>
    </span>
    <div matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></div>
    <div class="mat-button-focus-overlay"></div>
 </button>
 <!-- Notifications -->
