.close-button{
    /* position: relative !important;
    top: -48px;
    right: -745px; */
    float: right;
    /* background-color: gray; */
}

.example-input-wrapper {
    margin-bottom: 16px;
}

label {
    margin-right: 4px;
}

.file-drop-area {
    border: 2px dashed #ccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.file-drop-hover {
    background-color: #f0f0f0;
}

input[type="file"] {
    display: none;
}


.file-drop-area {
    border: 2px dashed #ccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-drop-hover {
    background-color: #f0f0f0;
}

.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 4px;
    margin-top: 10px;
}

.progress {
    height: 20px;
    background-color: #4caf50;
    border-radius: 4px;
}
  
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  

.button-upload-file:hover{
    color: white !important;
    background-color: orange !important;
}
  
.mat-vertical-content{
    padding: 24px;
}

.step-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
  
.status-icon {
    margin-left: auto;
    color: green; /* Cambia el color del icono si es necesario */
}
.mat-step-label {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}



.btn-1 {
    color: white;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 100;
    position: relative;
    text-decoration: none;
    background: #3f51b5;
    width: 120px;
    height: 55px;
    align-content: center;

    svg {
        height: 55px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    rect {
        fill: none;
        stroke: #fafafa;
        stroke-width: 8;
        stroke-dasharray: 200, 20;
        stroke-dashoffset: 0;
        animation: animate-border 3s linear infinite;
    }
}

@keyframes animate-border {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -732;
    }
}


.mat-accent{
    --mdc-circular-progress-active-indicator-color: #008000;
}





