/* .custom-dialog-container{
    position: absolute;
    right: 0;
    top: 64px;
}

.custom-custom-dialog-container {
    mat-dialog-container {
        position: absolute;
        right: 0;
        top: 64px;
    }
} */

