<div class="container-principal d-flex flex-row" style="width: 100vw; height: 100vh; justify-content: center; align-items: center; background-color: rgb(201 199 197 / 54%);">
    <div class="app-error justify-content-cen">
        <div class="d-flex flex-row fix">
          <mat-icon mat-icon class="error-icon">error</mat-icon>
          <div class="error-text">
             <h1 class="error-title">404</h1>
             <div class="error-subtitle">Pagina no encontrada!</div>
          </div>
        </div>

       <div class="error-actions">
            <button mat-raised-button color="primary">Regresar al Inicio</button>
       </div>
    </div>
 </div>
