@use '@angular/material' as mat;

@include mat.core();

$custom-primary-palette: (
    100: #FFE0B2,
    200: #FFCC80,
    300: #FFB74D,
    400: #FFA726,
    500: #FF9800,
    600: #FB8C00,
    700: #F57C00,
    800: #EF6C00,
    900: #E65100,
    contrast: (
      50: #0000,
      100: #000,
      200: #000,
      300: #ffff,
      400: #ffff,
      500: #ffff,
      600: #ffff,
      700: #ffff,
    ),
);

$custom-primary: mat.define-palette($custom-primary-palette);
$custom-accent: mat.define-palette($custom-primary-palette);

$custom-theme: mat.define-light-theme((
 color: (
    primary: $custom-primary,
    accent: $custom-accent,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));



@include mat.all-component-themes($custom-theme);