/* You can add global styles to this file, and also import other style files */

/* regular style toast */
@import 'ngx-toastr/toastr';
@import './custom-theme-styles.scss';



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.custom-dialog-container {
    position: absolute !important;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.blur-background {
    filter: blur(5px); /* Ajusta el valor de blur según tus necesidades */
    transition: filter 1.5s;
  }

/* .mat-option.mat-selected:not(.mat-option-multiple){
    background-color: #22262a !important;
    color: #fff !important;
} */

/* .mat-option.mat-selected:not(.mat-option-multiple){
    background-color: $custom-primary !important;
}
.mat-option {
    color: rgba(0, 0, 0, 0.87) !important;
    transition: all 150ms linear;

    &:hover {
        @include box-shadow($shadow-mat-select-option);
        background: $custom-primary !important;
    }
} */

/* Clases customizadas de mat-steeper  en documentación de responsable y de forma global*/


.mat-step-label {
    width: 100% !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.mat-step-text-label{
    display: flex !important;
    justify-content: space-between;
}