<div>
    <button class="close-button"  color="primary" mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>

    <div class="m-4">
        
        <div class="d-flex align-items-center mb-4 gap-2">
            <mat-icon>apartment</mat-icon>
            <h2 class="m-0">CREAR EMPRESA</h2>
        </div>
    
        <form [formGroup]="createCompanyForm">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Razon Social</mat-label>
                        <input matInput type="text" formControlName="companyName">
                    </mat-form-field>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Tipo Documento</mat-label>
                        <mat-select formControlName="companyDocumentType">
                            @for (type of documentTypes; track $index) {
                                <mat-option [value]="type">
                                    {{ type }}
                                </mat-option>
                            }
                          
                        </mat-select>
                      </mat-form-field>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Numero Documento</mat-label>
                        <input matInput type="number" formControlName="companyDocumentNumber">
                    </mat-form-field>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Ciudad</mat-label>
                      
                      <mat-select formControlName="companyCity">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="citySearchCtrl" placeholderLabel="Buscar Ciudad ..." noEntriesFoundLabel="Ciudad Inexistente!">
                          </ngx-mat-select-search>
                        </mat-option>
                        
                        <mat-option *ngFor="let city of filteredCities | async" [value]="city">
                          {{ city }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                                
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Direccion</mat-label>
                        <input matInput type="text" formControlName="companyAddress">
                    </mat-form-field>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Numero Telefonico</mat-label>
                        <input matInput type="number" formControlName="companyPhoneNumber">
                    </mat-form-field>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Correo Corporativo</mat-label>
                        <input matInput type="mail" formControlName="companyEmail">
                    </mat-form-field>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Actividad</mat-label>
                      
                      <mat-select formControlName="companyIndustry">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="industrySearchCtrl"></ngx-mat-select-search>
                        </mat-option>
                        
                        <mat-option *ngFor="let type of filteredCodciuu | async" [value]="type">
                          {{ type }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Sitio Web</mat-label>
                        <input matInput type="text" formControlName="companyWebsite">
                    </mat-form-field>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Nombre Representane Legal</mat-label>
                        <input matInput type="text" formControlName="companyRepresentativeName">
                    </mat-form-field>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Tipo Documento</mat-label>
                        <mat-select formControlName="companyRepresentativeTypeDocument">
                            @for (type of documentTypes; track $index) {
                                <mat-option [value]="type">
                                    {{ type }}
                                </mat-option>
                            }
                          
                        </mat-select>
                      </mat-form-field>
                </div>
               
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Numero Documento</mat-label>
                        <input matInput type="number" formControlName="companyRepresentativeDocumentNumber">
                    </mat-form-field>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Correo Electronico</mat-label>
                        <input matInput type="mail" formControlName="companyRepresentativeEmail">
                    </mat-form-field>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Numero Telefonico</mat-label>
                        <input matInput type="number" formControlName="companyRepresentativePhoneNumber">
                    </mat-form-field>
                </div>
            </div>
        </form>

        <div class="d-flex justify-content-end gap-2">
            <div class="example-button-container">
                <button mat-fab extended style="background-color: #991919;" (click)="closeDialog()">
                  <mat-icon>close</mat-icon>
                  Cancelar
                </button>
            </div>

            <div class="example-button-container">
                <button mat-fab extended [disabled]="createCompanyForm.invalid" (click)="createCompany()">
                  <mat-icon>save</mat-icon>
                  Guardar
                </button>
            </div>
        </div>
    </div>
</div>